image: fedora:latest
stages:
  - check
  # - build

variables:
  DEPENDENCIES: gettext-devel git pygobject3 pygobject3-devel python3-gobject
                python3-cairo-devel gtk3-devel gobject-introspection-devel
                tracker-devel libmediaart-devel grilo-devel
                gnome-online-accounts-devel meson ninja-build

build:
  stage: build
  script:
    - dnf install -y $DEPENDENCIES
    - meson builddir
    - ninja -C builddir

flake8:
  stage: check
  script:
    - dnf install -y python3-flake8
    - flake8 --ignore E402,W503 --show-source --exclude=mpris.py,grilo.py,query.py,window.py gnomemusic/