image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:3.34
stages:
  - check
  - build-flatpak
  - deploy

variables:
  BUNDLE: "gnome-music.flatpak"
  DBUS_ID: "org.gnome.Music"
  FLATPAK_MODULE: "gnome-music"
  GIT_SUBMODULE_STRATEGY: normal
  MANIFEST_PATH: "org.gnome.Music.json"
  RUNTIME_REPO: "https://sdk.gnome.org/gnome.flatpakrepo"

flatpak:
  stage: build-flatpak
  tags:
    - flatpak
  script:
    - flatpak-builder --user --disable-rofiles-fuse --stop-at=${FLATPAK_MODULE} app ${MANIFEST_PATH}
    - flatpak build app meson --prefix=/app _build
    - flatpak build app ninja -C _build install
    - flatpak-builder --user --disable-rofiles-fuse --finish-only --repo=repo app ${MANIFEST_PATH}
    - flatpak build-bundle repo ${BUNDLE} --runtime-repo=${RUNTIME_REPO} ${DBUS_ID}
  artifacts:
    paths:
      - ${BUNDLE}
      - _build/meson-logs/meson-log.txt
    expire_in: 2 days
  cache:
    paths:
      - .flatpak-builder/downloads
      - .flatpak-builder/git

review:
    stage: deploy
    dependencies:
        - flatpak
    script:
        - echo "Generating flatpak deployment"
    artifacts:
        paths:
            - ${BUNDLE}
        expire_in: 30 days
    environment:
        name: review/$CI_COMMIT_REF_NAME
        url: https://gitlab.gnome.org/$CI_PROJECT_PATH/-/jobs/$CI_JOB_ID/artifacts/raw/${BUNDLE}
        on_stop: stop_review
    except:
        - master@GNOME/gnome-music
        - tags

stop_review:
    stage: deploy
    script:
        - echo "Stopping flatpak deployment"
    when: manual
    environment:
        name: review/$CI_COMMIT_REF_NAME
        action: stop
    except:
        - master@GNOME/gnome-music
        - tags

flake8:
  image: fedora:28
  stage: check
  script:
    - dnf install -y python3-flake8
    - flake8 --ignore E402,W503 --show-source gnomemusic/
