image: fedora:23
stages:
  - check
  - build
  - deploy

variables:
  DEPENDENCIES: python3 gobject-introspection-devel gtk3-devel libmediaart-devel grilo-devel

build:
  stage: build
  script:
    - dnf update -y && dnf install -y $DEPENDENCIES
    - git submodule update --init
    - ./autogen.sh
    - make

deploy:
  stage: deploy
  script:
    - dnf update -y && dnf install -y $DEPENDENCIES
    - git submodule update --init
    - ./autogen.sh
    - make distcheck
  only:
    - tags

pyflakes:
  stage: check
  script:
    - dnf update -y && dnf install -y python3-pyflakes
    - python3-pyflakes .

pep8:
  stage: check
  script:
    - dnf update -y && dnf install -y python3-pep8
    - python3-pep8 --ignore=E501,E225,E265,E402 --show-source --show-pep8 .
  allow_failure: true