ABOUT-NLS
Makefile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
data/Makefile
data/gnome-music.desktop.in
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/
po/Makefile
po/Makefile.in.in
po/Makefile.in.in~
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-it
src/.deps/
src/.music-app.vala.swp
src/Makefile
src/gnome_music_vala.stamp-t
stamp-h1
Makefile.in
aclocal.m4
autom4te.cache/
configure
data/Makefile.in
depcomp
install-sh
missing
po/Makefile.in
src/Makefile.in
