@binding-set unbind-ctrl-space {
    unbind "<ctrl>space";
}

/* Use widget for libgd classes, since they aren't updated
   to gtk+-3.20 css naming yet. */
flowbox, treeview, widget {
    -gtk-key-bindings: unbind-ctrl-space;
}

.discsongsflowbox > flowboxchild {
    padding: 0px;
}

/* AlbumCover */
.cover-subtitle {
    font-size: smaller;
}

/* AlbumWidget */
.title-artist {
    font-size: larger;
    font-weight: bold;
}

/* ArtistAlbumsWidget */
box#ArtistAlbumsWidget .artist-label {
    font-weight: bold;
}

/* NoMusic */
.no-music-found-label {
    font-size: xx-large;
    font-weight: bold;
}

/* PlayerToolbar */
.player-artist-label {
    font-weight: bold;
    font-size: smaller;
}

.player-title-label {
    font-size: smaller;
}

/* PlaylistControls */
.playlist-name-label {
  font-weight: bold;
  font-size: x-large;
}

/* ArtistAlbumWidget */
.album-cover {
    padding-left:24px;
}

.album-title {
    padding-left:24px;
    font-weight: bold;
}

.side-panel:dir(ltr) {
    border-width: 0 1px 0 0;
}

.side-panel:dir(rtl) {
    border-width: 0 0 0 1px;
}

.side-panel .view {
    background-color: mix(@theme_fg_color, @theme_bg_color, 0.9);
}

.side-panel .view:dir(ltr) {
    box-shadow: inset -10px 0 5px -10px alpha(black, 0.25);
}

.side-panel .view:dir(rtl) {
    box-shadow: inset 10px 0 5px -10px alpha(black, 0.25);
}

.side-panel .view:selected,
.side-panel row:selected {
    background-color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.songs-list {
    box-shadow: inset 0 -1px shade(@borders, 1.30);
    background-color: @theme_bg_color;
}

.songs-list:selected {
    color: shade(@theme_fg_color, 0.0);
}

/* We use background-image as a workaround on the StarImage widget to
   enable transitions between the non-starred and starred icons. */
.star {
    background-image: -gtk-icontheme('non-starred-symbolic');
    color: shade(@theme_bg_color, 0.8);
    transition: 100ms linear;
}

.star:hover {
    color: shade(@theme_bg_color, 0.5);
}

.star:selected {
    background-image: -gtk-icontheme('starred-symbolic');
    color: @theme_selected_bg_color;
    transition: 100ms linear;
}

.content-view { background-color: @theme_bg; }

.grey-image {
    color: alpha(@theme_fg_color, 0.3);
}

/* Used in AlbumWidget and ArtistAlbumsWidget */
.playing-song-label {
    font-weight: bold;
}

/* headerbar - smooth selection-mode transition */
.selection-mode {
    transition: 250ms ease-in-out;
}
